.journal-section{
    margin-top: 0.8rem;
    padding: 1rem;
}

.journal-section p{
    color: black;
    margin: 0;
}
.journal-section td, .journals-section th {
    padding: 5px;
    word-wrap: break-word;
}

.journal-section thead th{
    text-align: center;
    vertical-align: middle;
}