.docs_navigation{
    width: 100%;
}   

.docs_container{
    margin-top: 1rem;
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.docs_container p{
    background: #454545;
    margin: 0;
    color: white;
    padding: 8px;
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
}